<h1>Editing transaktion</h1>

<%= render "form", transaktion: @transaktion %>

<br>

<div>
  <%= link_to "Show this transaktion", @transaktion %> |
  <%= link_to "Back to transaktions", transaktions_path %>
</div>
