<p style="color: green"><%= notice %></p>

<%= render @transaktion %>

<div>
  <%= link_to "Edit this transaktion", edit_category_transaktion_path(@transaktion) %> |
  <%= link_to "Back to transaktions", category_transaktions_path %>
</div>
