<div class="trans-header">
  <%= link_to categories_path do %>
    <%= image_tag("back.png", width: 40) %>
  <% end %>
  <h1>New category</h1>
  <%= image_tag("menu.png", width: 40) %>
</div>

<%= render "form", category: @category %>
